.input_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input_container {
  margin-bottom: 10px;
}

.input_container select {
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}

.input_container p {
  display: inline-block;
  width: 150px;
  margin: 0;
}

.input_container select {
  width: calc(100% - 150px);
  vertical-align: top;
}

.checkbox_container {
  display: flex;
  align-items: center;
}

.checkbox_group {
  margin-right: 20px;
}
